* {
	font-family: 'Times New Roman', Times, serif;
}
.nav-link {
	color: white;
	&:hover {
		color: red;
	}
	cursor: pointer;
}

a {
	color: black;
	text-decoration: none;
	&:hover {
		color: red;
	}
	cursor: pointer;
}

p {
	margin: 0px;
}

.search {
	cursor: pointer;
}

.second-nav {
	background-color: black;
}

.card-body {
	padding: 5px;
	font-size: 15px;
}

img {
	cursor: pointer;
}
