* {
	font-family: 'Times New Roman', Times, serif;
}

.second-nav {
	.nav-link {
		color: white;
	}
}

.nav-link {
	color: black;
}

.email {
	font-size: 12px;
}
.user {
	font-family: 'Lucida Console', Courier, monospace;
	color: white;
}

a {
	cursor: pointer;
	text-decoration: none !important;
	.logout {
		color : white;
	}
}